.container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.code-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.class-variables-container {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.class-variable {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 8px;
  background: var(--primary);

  transform: ease 0.2s all;
}

.class-variable:hover {
  background: var(--primary-accent);

  transition: ease 0.2s all;
}
