.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: black;
}

.container-grid {
  display: grid;
  height: 100%;
  grid-template-rows: 35px auto;
  gap: 10px;
}

.container-grid-item {
  padding: 2px;
  background-color: rgba(0, 104, 64, 0.5);
}

.tab-cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  padding: 5px;
  align-items: last baseline;
  justify-content: left;
}
