.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: var(--border-radius);
}

.nodeInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: var(--font-size);
  background: rgba(255, 255, 255, 0.05);
}

.currentNodeDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid rgb(70, 70, 70);
  font-size: var(--font-size);
  background: rgba(255, 255, 255, 0.05);
}

.editorTab {
  display: flex;
  margin-top: 16px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: var(--font-size);
  background: rgba(255, 255, 255, 0.05);
}
