.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: var(--border-radius);
}

.nodeInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing);
  font-size: var(--font-size);
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--border-radius);
}

.editorTab {
  flex: 1;
  padding-top: var(--spacing);
}
